# Python Repetition

In [3]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [4]:
len(school)

15

In [5]:
# Comma gives a tuple
school[0], school[-1]

('H', 'n')

In [13]:
# Slicing
school[3:7], school[:7]

('dels', 'Handels')

In [14]:
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and it is operator overloaded in diffrent classes

In [16]:
# concatenation - __add__() is implemented in str class 
"NBI-" + school

'NBI-Handelsakademin'

list

In [17]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [18]:
# concatenation, appending
cool_list + [True,True,False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [21]:
x = []
for i in range(11):
    x.append(i)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
range(10) # range object

range(0, 10)

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
[i for i in range(10) if i % 2]

[1, 3, 5, 7, 9]

In [35]:
my_tuple = (2,5,6)
my_tuple

(2, 5, 6)

In [36]:
# tuples are immutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

In [37]:
set([6,6,6,2,3])

{2, 3, 6}

In [40]:
rabbit = {"name": "Noah", "age": 22, "loves_hay": True}

In [41]:
for key in rabbit:
    print(key)

name
age
loves_hay

In [43]:
for key, value in rabbit.items():
    print(f"{key:<15} {value}")

name            Noah
age             22
loves_hay       True

In [46]:
def squarer(number):
    return number**2

squarer(12)

144

In [55]:
tuple(squarer(i) for i in range (10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [62]:
# varaiable amount of parameters
def my_average(*numbers):
    sum_ = 0
    print(type(numbers))
    print(numbers)

my_average(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [65]:
# *args - "star args" 
def my_average(*numbers):
    sum_ = 0
    for number in numbers: 
        sum_ += number
    return sum_/len(numbers)

my_average(1,2,4)

2.3333333333333335

In [66]:
x

[1, 3, 5, 7, 9]

In [71]:

my_average(*x) # my_avarage(x[0], x[1], x[2]....)

5.0

OOP

In [77]:
#defines a class (blueprint)
class person: 
    # dunder intit
    def __init__(self, name, age) -> None:
        self.name = name 
        self.age = age
      
# instantiates an instance from the class Person with arguments 
p1 = person("Noah", 12)
p1
# dunder repr: __repr__
#

In [78]:
hex(id(p1))

'0x20165efdc90'

In [79]:
p1.age, p1.name

(12, 'Noah')