In [14]:
import pandas as pd

# Existing employee data
emp_info = []

def add_employee(emp_id, name, age, salary, department): 
    emp_dict = {"emp_id": emp_id, "name": name, "age": age, "salary": salary, "department": department} 
    emp_info.append(emp_dict)

# Adding employees with departments
add_employee(0, "Alice", "32", 31000, "HR") 
add_employee(1, "Bob", "38", 41000, "IT") 
add_employee(2, "Charlie", "22", 28000, "Sales") 
add_employee(3, "David", "45", 50000, "Management")
add_employee(4, "Eva", "29", 34000, "HR")
add_employee(5, "Frank", "41", 46000, "IT")
add_employee(6, "Grace", "25", 30000, "Sales")
add_employee(7, "Hank", "35", 42000, "IT")
add_employee(8, "Ivy", "28", 33000, "Marketing")
add_employee(9, "Jack", "50", 55000, "Management")

In [15]:
import pandas as pd
df = pd.DataFrame(emp_info)

In [16]:
df

   emp_id     name age  salary  department
0       0    Alice  32   31000          HR
1       1      Bob  38   41000          IT
2       2  Charlie  22   28000       Sales
3       3    David  45   50000  Management
4       4      Eva  29   34000          HR
5       5    Frank  41   46000          IT
6       6    Grace  25   30000       Sales
7       7     Hank  35   42000          IT
8       8      Ivy  28   33000   Marketing
9       9     Jack  50   55000  Management

In [11]:
df["salary"] = pd.to_numeric(df["salary"])
df["age"] = pd.to_numeric(df["age"])

In [13]:
avg_age = df["age"].mean()
avg_age
avg_salary = df["salary"].mean()
avg_salary

39000.0

In [18]:
df.to_csv("../data/employye_table.csv")